@import "./assets/fonts/crochet-embedded.css";

* {
  box-sizing: border-box;
}
html {
  --font-highlight: 'Noto Sans Mono';
  --font-text: 'Noto Sans';
  --ui-background: white;
  --ui-border: black;
  --ui-radius: 0.25rem;
  --purple: #ce97fb;
  --pink: #fa65eb;
  --red: #f69bac;
  --orange: #faa99d;
  --yellow: #fddf7e;
  --green: #9bfbe1;
  --blue: #67ebfa;
  font-family: var(--font-text);
  background-color: var(--ui-background);
  line-height: 1.2rem;
}

button, input {
  background: transparent;
  border: solid 2px var(--ui-border);
  border-radius: var(--ui-radius);
}

mark.stitch {
  background-color: var(--green);
}
mark.repeat {
  background-color: var(--purple);
}


/*SLIDER FIXES*/
input[type="range"]::-webkit-slider-runnable-track{
  background: transparent
}
input[type="range"]::-moz-range-track {
  background: transparent
}
input[type=range]::-ms-fill-lower {
  background: transparent
}
input[type=range]::-ms-fill-upper {
  background: transparent
}
input[type="range"]::-ms-track {
  background: transparent
}
input[type="range"]::-webkit-slider-thumb {
  background: currentColor
}
input[type="range"]::-moz-range-thumb {
  background: currentColor
}
