* {
  box-sizing: border-box;
}
html {
  --font-highlight: 'Noto Sans Mono';
  --font-text: 'Noto Sans';
  --ui-background: white;
  --ui-border: black;
  --mark-purple: #ce97fb;
  --mark-pink: #fa65eb;
  --mark-orange: #faa99d;
  --mark-yellow: #fddf7e;
  --mark-green: #9bfbe1;
  --mark-blue: #67ebfa;
  font-family: var(--font-text);
  background-color: var(--ui-background);
  line-height: 1.2rem;
}

button, input {
  background: transparent;
  border: solid 2px var(--ui-border);
  border-radius: 0.25rem;
}

mark.stitch {
  background-color: var(--mark-green);
}


/*SLIDER FIXES*/
input[type="range"]::-webkit-slider-runnable-track{
  background: transparent
}
input[type="range"]::-moz-range-track {
  background: transparent
}
input[type=range]::-ms-fill-lower {
  background: transparent
}
input[type=range]::-ms-fill-upper {
  background: transparent
}
input[type="range"]::-ms-track {
  background: transparent
}
input[type="range"]::-webkit-slider-thumb {
  background: currentColor
}
input[type="range"]::-moz-range-thumb {
  background: currentColor
}
